@import "./reset.css";
@import "./global.css";
@import "./typography.css";
@import "./buttons.css";

body {
  background-color: var(--color-black);
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0.75rem 2.25rem 3rem 2.25rem;
}

#top {
  position: absolute;
  bottom: 12px;
  left: calc(50% - 70px);
}

@media (min-width: 1024px) {
  .App {
    gap: 100px;
  }
}
